################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DEMO/Website/bin/DataLayer.dll
/DEMO/Website/bin/DataLayer.pdb
/DEMO/Website/bin/Website.dll
/DEMO/Website/bin/Website.pdb
