
@{
    ViewBag.Title = "DoubleVerificationURlExamEasebuzz";
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DoubleVerificationURl  Enrollment Easebuzz</title>
</head>

<body>
    @if (TempData["responseString"] != null)
    {
        <div>@TempData["responseString"]</div><br /><br />
    }

    <div>
        @using (Html.BeginForm("DoubleVerificationURlEnrolleent_Easebuzz", "Home", FormMethod.Post, new { id = "myform", enctype = "multipart/form-data" }))
        {
            <br />
            @Html.TextBox("trxid", "", new { @class = "form-control", @required = "required", @placeholder = "Orderno" })

            <br /> <br />
            @Html.TextBox("password", "", new { @class = "form-control", @required = "required", @placeholder = "password" })

            <br /> <br />
            <input type="submit" value=" Loop " />
        }

    </div>

    
</body>
</html>

