@using Website.Models;
@{
    ViewBag.Title = "ResetPasswordCollege";
}
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
<link rel="stylesheet" href="~/Content/css/owl.carousel.css">
<link rel="stylesheet" href="~/Content/css/owl.theme.css">
<link rel="stylesheet" href="~/Content/css/owl.transitions.css">
<link rel="stylesheet" href="~/Content/css/animate.css">
<link rel="stylesheet" href="~/Content/css/normalize.css">
<link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
<link rel="stylesheet" href="~/Content/css/main.css">
<link rel="stylesheet" href="~/Content/css/educate-custon-icon.css">
<link rel="stylesheet" href="~/Content/css/morrisjs/morris.css">
<link rel="stylesheet" href="~/Content/css/scrollbar/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu.min.css">
<link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu-vertical.css">
<link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.min.css">
<link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.print.min.css">
<link rel="stylesheet" href="~/Content/css/touchspin/jquery.bootstrap-touchspin.min.css">
<link rel="stylesheet" href="~/Content/css/form/all-type-forms.css">
<link rel="stylesheet" href="~/Content/css/chosen/bootstrap-chosen.css">
<link rel="stylesheet" href="~/Content/css/data-table/bootstrap-table.css">
<link rel="stylesheet" href="~/Content/css/data-table/bootstrap-editable.css">
<link rel="stylesheet" href="~/Content/css/responsive.css">
<script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
<link href="~/Content/style.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-sm-8 col-xs-12 col-lg-offset-2 ">
            <div class="sparkline12-hd forgot-part">
                <div class="main-sparkline12-hd">
                    <h3 class="text-center heading-text">Reset Password </h3>
                </div>
                <div class="sparkline12-graph">
                    <div class="basic-login-form-ad">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                <div class="all-form-element-inner">
                                    @*<form action="#">*@
                                    <div class="text-danger text-center" style="padding-bottom:20px;">
                                        @if (TempData["Msg"] != null)
                                        {
                                            @TempData["Msg"];
                                        }
                                    </div>
                                    @using (Html.BeginForm())
                                    {
                                        <div class="form-group-inner">
                                            <div class="form-group input-box">
                                                <label class="login2"><span class="starvalid">*</span>Email ID</label>
                                                @Html.TextBox("Email", "", new { @class = "form-control", @type = "text", @minlength = "6", @placeholder = "ReEmailID", @required = "required", @id = "Email" })

                                            </div>
                                        </div>
                                        <div class="form-group-inner" style="margin-bottom:30px;">
                                            <div class="login-btn-inner">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="login-horizental cancel-wp form-bc-ele">
                                                            <button class="btn btn-sm btn-primary login-submit-cs" type="button" id="submit">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    @*</form>*@
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                <div class="user-right-img"><img src="~/images/user-mail.jpg" /></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
<script>
    $(function () {
        debugger;
        $("[id*=submit]").bind("click", function () {
            debugger;
            if ($("[id*=Email]").val() == "") {
                showAlert("Please Enter Email !!"); return false;
            }
            var user = {
                EmailID: $("[id*=Email]").val(),

            };
            $.ajax({
                type: "POST",
                url: "/Home/ResetPasswordClg",
                data: user,
                success: function (data) {
                    console.log("value jo aa rahi hai" + JSON.stringify(data));
                    debugger;
                    if (data.data.Status) {
                        showAlert(data.data.Msg);
                        window.location.href = "/Home/Index";
                    }
                    else {
                        showAlert(data.data.Msg);
                    }
                },
                Error: function (data) {
                    showAlert("coming in error");
                }
            });
            return false;
        });
    });
</script>