@using Website.Models
@using DataLayer
<div class="left-custom-menu-adp-wrap comment-scrollbar">
    <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
            <li>
                <a class="" href="/StudentLLB/HomeL/Index">
                    <span class="fa fa-dashboard"></span>
                    <span class="mini-click-non">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="/StudentLLB/HomeL/Index">
                    <span class="fa fa-list "></span>
                    <span class="mini-click-non">Personal Detail</span>
                </a>
                <ul class="submenu-angle" aria-expanded="true">
                    <li><a title="BasicDetail" href="~/StudentLLB/HomeL/BasicDetail"><span class="mini-sub-pro"><span class="fa fa-angle-double-right"></span> Basic Detail</span></a></li>
                    <li><a title="DocumentUpload" href="~/StudentLLB/HomeL/DocumentUpload"><span class="mini-sub-pro"><span class="fa fa-angle-double-right"></span> Upload Document</span></a></li>
                    <li><a title="PreviousyearQualification" href="~/StudentLLB/HomeL/PreviousyearQualification"><span class="mini-sub-pro"><span class="fa fa-angle-double-right"></span> Upload Qualification</span></a></li>
                    <li><a title="SelectSubject" href="~/StudentLLB/HomeL/SelectSubject"><span class="mini-sub-pro"><span class="fa fa-angle-double-right"></span> Choose Subject </span></a></li>
                    <li><a title="FeesSubmit" href="~/StudentLLB/HomeL/FeesSubmit"><span class="mini-sub-pro"><span class="fa fa-angle-double-right"></span> Fees Submit</span></a></li>
                </ul>
            </li>
            @if (Convert.ToInt32(EncriptDecript.Decrypt(ClsLanguage.GetCookies("ENNBcollegeid"))) > 0)
            {
                <li><a title="FeesSubmit" href="~/StudentLLB/ResultLLB/Index"><span class="fa fa-list-alt"><span class=""></span> Result</span></a></li>
            }

        </ul>
    </nav>
</div>