<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div style="font-size: 25px;"><center></center></div><br />
    <div style="border-bottom:5px solid #05046c; margin-bottom:25px; text-align:center; padding:15px 0;"><img id="logo" width="300px" src="http://localhost:30166//images/mu-logo-white.png"></div>
    <div style="width:100%; margin:auto; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px !important;">

        <table width="800px" border="0" cellspacing="0" cellpadding="0" style="padding:0 15px; margin:auto;">
            <tbody>
                <tr>
                    <td colspan="2">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">

                                            <tbody>
                                                <tr>
                                                    <td align="left" valign="top">Form No. 1000002</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top" style="padding:5px 0;"><strong>EXAMINATION FORM</strong></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top" style="font-family:20px; padding:5px 0;">
                                                        L.L.B. THREE YEAR COURSE
                                                        SESSION-(2018-19) EXAMINATION - 2019 <br>Semester 1
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td align="left" valign="top">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td width="84%" align="left" valign="top" style="font-family:16px; padding:5px 0;">The Controller of Examinations,</td>
                                                                    <td width="16%" rowspan="5" align="left" valign="top">
                                                                        <div style="border:1px solid #333; width:133px; height:125px; padding:5px;">
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" valign="middle" max-height:130px;"=""><img src="https://s3.ap-south-1.amazonaws.com/mungeruniversity/Student/Photoandsign/05_10_2019_10:05:42_StudentPhoto_ADITYAVIKRAMbignoimage.png" 
                                                                                                                                                      style="max-height:110px;" alt="Passport Size Photo"></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td align="center" valign="middle">&nbsp;</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="font-family:16px; padding:5px 0;"><strong>Munger University</strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="font-family:16px; padding:5px 0;"><strong>Demo</strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="top" style="font-family:16px; padding:5px 0;">(TO BE FILLED BY THE CANDIDATE)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:5px 0;">Sir, </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="right" valign="top" style="padding:15px 0;">Please allow me to appear at <strong>  L.L.B. </strong> Three Years Law Degre Course </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top" style="padding:15px 0;">
                                                        <strong>  <span style="padding:15px 0 0; border-bottom:1px dotted #000;min-width:200px !important">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Semester 1 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></strong>
                                                        Examination Year  <strong> <span style="padding:15px 0 0; border-bottom:1px dotted #000;min-width:200px !important">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  2019 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> </strong> I hearby deposit
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top" style="padding:15px 0;">a sum of Rs............................................................................................. only as examination fee.</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top" style="padding:0 0 5px">I undertake the responsibility for the information furnished below:</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="right" valign="top">
                                                        &nbsp;<img src="https://s3.ap-south-1.amazonaws.com/mungeruniversity/Student/Photoandsign/05_10_2019_10:05:43_StudentSign_ADITYAVIKRAMdone-img.png" onerror="this.src = '../../../images/noimage.png';" width="70" style="max-height:70px;" alt="अंग्रेजी में छात्र का हस्ताक्षर">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="right" valign="top">Full Signature of the Applicant</td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top">&nbsp;<hr></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="top">&nbsp;</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #ccc;">
                                            <tbody>
                                                <tr>
                                                    <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF;  padding:5px 10px;">Exam Fees Receipt</th>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;width:25% ; padding:5px 10px;">College</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;" colspan="3"><span id="FeeTitle"></span>BISHWANATH SINGH INSTITUTE OF LEGAL STUDIES, MUNGER</td>


                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Course</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;"><span id="FeeSubjectcate">L.L.B. Semester 1 </span></td>

                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc;  padding:5px 10px;">Session</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="FeeSession">2018-19</span></td>

                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;background-color:#eee;">Application No</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;background-color:#eee;">
                                                        <span id="">MU186350002 </span>
                                                    </td>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Caste Category</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeeCastCategory">ST</span></td>
                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px; background-color:#eee; ">Roll No </td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeeCastCategory">618350002</span></td>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; padding:5px 10px;">Registration No</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc;"><span id="">186350002 </span></td>
                                                </tr>

                                                <tr>

                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Exam Fees</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeesPrice">100.00</span></td>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Late Fees</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeesPrice">50.00</span></td>

                                                </tr>
                                                <tr>
                                                    <td align="left" valign="middle" style="border-bottom:1px solid #ccc; border-right:1px solid #ccc; background-color:#eee;  padding:5px 10px;">Total Fee Amount</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;; border-bottom:1px solid #ccc; background-color:#eee; "><span id="FeesPrice">150.00</span></td>

                                                    <td align="left" valign="middle" style=" border-right:1px solid #ccc; padding:5px 10px;">Fee Status</td>
                                                    <td align="left" valign="middle" style="padding:5px 10px;"><span id="FeeIsStatus">Pending</span></td>

                                                </tr>


                                                <tr>
                                                    <th colspan="4" align="left" valign="middle" style="border-bottom:1px solid #ccc;  background-color:#44438e; color:#FFF; padding:5px 10px;">Payment Details</th>
                                                </tr>
                                                <tr>
                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction Status</td>
                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="bankName">FAIL</span></td>
                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Bank Reference Number</td>
                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="PayName">NA</span></td>

                                                </tr>

                                                <tr>
                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Transaction ID</td>
                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="cardNum">26514310516441939830</span></td>

                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee; border-right:1px solid #ccc;">Transaction Date</td>
                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc; background-color:#eee;"><span id="Expires">Oct  5 2019  4:45PM</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc; border-right:1px solid #ccc;">Payment Mode</td>
                                                    <td style="padding:5px 10px; border-bottom:1px solid #ccc;"><span id="Expires">NetBanking</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>


                <!-- / Subject -->



                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>


            </tbody>
        </table>

    </div>
</body>
</html>

