<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<appSettings>
		<add key="AWSProfileName" value="demobr" />
		<add key="AWSAccessKey" value="AKIATXHUV7CK3CQVJKOC" />
		<add key="AWSSecretKey" value="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" />
		<add key="QuickApplication_id" value="55664" />
		<add key="QuickAuth_key" value="YsFsJRL7Eje-UwD" />
		<add key="QuickAuth_secret" value="X3OQB7Nb7fzvSnQ" />
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="owin:AutomaticAppStartup" value="false" />
		<add key="siteUrl" value="http://localhost:33166/" />
		<!--AirPay-->
		<add key="username" value="2838850" />
		<add key="password" value="JkD3h82A" />
		<add key="secret" value="7mUq9BDVz5puQevV" />
		<add key="mercid" value="32178" />
		<add key="AirPayURL" value="http://jpcnstudent.thinknorth.org.in/student/Home/PGSucess_AirPay" />
		<add key="AirPaySuccesUrl" value="student/home/PGSucess" />
		<add key="AirPayFailURL" value="student/home/PGFailed" />
		<!--// ease Buzz-->
		<add key="salt" value="2YMKZRUYK7" />
		<add key="key" value="Q5K2VBAEM3" />
		<add key="env" value="prod" />
		<add key="EasySuccessUrl" value="https://portal.DemoUniversity.com/student/Exam/EaseBuzzPGSucessExam" />
		<add key="EasyFailUrl" value="https://portal.DemoUniversity.com/student/Exam/EaseBuzzPGSucessExam" />
		<!--// safex Buzz-->
		<add key="merchant_id" value="202203290007" />
		<add key="ag_id" value="Paygate" />
		<add key="merchant_key" value="6Q+73qvBQkd1mvSiWf83ExK5WjSodCFFljSUvcljnM8=" />
		<add key="txn_type" value="SALE" />
		<add key="POSTURL" value="https://www.avantgardepayments.com/agcore/paymentProcessing" />
		<add key="SafexPaySuccessUrl" value="https://portal.DemoUniversity.com/student/Exam/SafexPayPGSucessExam" />
		<add key="SafexPayFailUrl" value="https://portal.DemoUniversity.com/student/Exam/SafexPayPGSucessExam" />
		<add key="sitemode" value="local" />
		<add key="ProjectName" value=" University" />
		<add key="EmailLogopath" value="http://localhost:30166/emailtemplate/email_logo.png" />
		<add key="EmailSt_loginurl" value="http://localhost:30166/Student/Login" />
		<add key="EnableSMS" value="false" />
		<add key="EnableEmail" value="false" />
		<add key="AmozonbucketPath" value="http://localhost:30166/" />
		<add key="ScriptFileVersion" value="5.9" />
	</appSettings>
	<connectionStrings>
		<add name="dbCon" connectionString="Data Source=148.251.244.171,4499;Initial Catalog=db_jpcnstudent;User ID=sa;Password=HBj@Bskk2hk@463GY" providerName="System.Data.SqlClient" />
	</connectionStrings>	
	<system.web>
		<customErrors mode="Off" />		
		<authentication mode="Forms">
			<forms loginUrl="~/Login/Index" />
		</authentication>
		<authorization>
			<allow users="*" />
		</authorization>
		<compilation debug="true" targetFramework="4.8" />
		<!--<httpRuntime targetFramework="4.5.2" />-->
		<httpRuntime requestPathInvalidCharacters="" executionTimeout="20000" maxRequestLength="2500000" requestValidationMode="2.0" enableVersionHeader="false" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<httpModules>
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
		</httpModules>
	</system.web>
	<system.webServer>
		<asp>
			<session allowSessionState="true" max="100000" timeout="00:30:00" />
		</asp>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<modules>
			<remove name="ApplicationInsightsWebTracking" />
			<add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
		</modules>
		<security>
			<requestFiltering allowDoubleEscaping="true" />
		</security>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
				<remove name="X-AspNetMvc-Version" />
				<remove name="Server" />
				<add name="X-Frame-Options" value="sameorigin" />
				<add name="X-XSS-Protection" value="1; mode=block" />
				<add name="X-Content-Type-Options" value="nosniff" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Remoting" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Corba" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="13235d27fcbfff58" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="System.Data.SqlServerCe.4.0" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SqlServerCe.4.0" />
			<add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		</DbProviderFactories>
	</system.data>
	<system.net />
</configuration>