<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    @*<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">*@
    <title>@( ViewBag.Title + " - " + DataLayer.CommonSetting.ProjectName )</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        // var ServiceUrl = 'http://localhost:30166/';
        var Url = window.location.origin + '/';
    </script>
    <!-- favicon

        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/img/favicon.png">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <!-- Bootstrap CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- owl.carousel CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/css/owl.transitions.css">
    <!-- animate CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <!-- meanmenu icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/meanmenu.min.css">
    <!-- main CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/main.css">
    <!-- educate icon CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/educate-custon-icon.css">
    <!-- morrisjs CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Content/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Content/css/calendar/fullcalendar.print.min.css">
    <!-- touchspin CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/touchspin/jquery.bootstrap-touchspin.min.css">
    <!-- datapicker CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/datapicker/datepicker3.css">
    <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/form/themesaller-forms.css">
    <!-- modals CSS
       ============================================ -->
    <link rel="stylesheet" href="~/Content/css/modals.css">
    <!-- style CSS
         <!-- forms CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/form/all-type-forms.css">
    <!-- colorpicker CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/colorpicker/colorpicker.css">
    <!-- select2 CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/select2/select2.min.css">
    <!-- chosen CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/chosen/bootstrap-chosen.css">
    <!-- ionRangeSlider CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/ionRangeSlider/ion.rangeSlider.css">
    <link rel="stylesheet" href="~/Content/css/ionRangeSlider/ion.rangeSlider.skinFlat.css">
    <!-- normalize CSS
       ============================================ -->
    <link rel="stylesheet" href="~/Content/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="~/Content/css/data-table/bootstrap-editable.css">
    <!-- style CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- responsive CSS
        ============================================ -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/scripts/jquery-1.10.2.min.js"></script>
    <script src="~/scripts/Resources/angular.js"></script>
    <script src="~/scripts/Resources/loading-bar.js"></script>
    <script src="~/scripts/Resources/ui-bootstrap-tpls-0.13.4.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <script src="~/Content/js/vendor/jquery-1.12.4.min.js"></script>
    <style>
        .right {
            text-align: right !important
        }

        .left {
            text-align: left !important
        }

        .starvalid {
            color: red;
        }
    </style>
    <link href="~/Content/css/preloader/preloader-style.css" rel="stylesheet" />
    <style>
        /*!
        // 3. Loader
        // --------------------------------------------------*/
        .loader {
            top: 0;
            left: 0;
            position: fixed;
            opacity: 0.8;
            z-index: 10000000;
            background: Black;
            height: 100%;
            width: 100%;
            margin: auto;
        }

        @@-webkit-keyframes stripMove {
            0% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }
        }

        @@-moz-keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }

        @@keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }
    </style>
    <style>
        .preloader-single {
            height: 100% !important;
        }
    </style>
    <style>
        .atag {
            color: #337ab7 !important;
            font-size: 14px;
        }

        .starvalid {
            color: red;
        }
    </style>
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="preloader-single shadow-inner">
            <div class="ts_preloading_box">
                <div id="ts-preloader-absolute22">
                    <div class="tsperloader22" id="first_tsperloader22"></div>
                    <div class="tsperloader22" id="second_tsperloader22"></div>
                    <div class="tsperloader22" id="third_tsperloader22"></div>
                </div>
            </div>
        </div>
        <div class="strip-holder">
            <div class="strip-1"></div>
            <div class="strip-2"></div>
            <div class="strip-3"></div>
        </div>
    </div>
    <script>
        $(document)
            .ajaxStart(function () {
                // $('#AjaxLoader').show();
            })
            .ajaxStop(function () {
                //  $('#AjaxLoader').hide();
            });
        function showloader() {
            $('#AjaxLoader').show();
        }
        function hideloader() {
            $('#AjaxLoader').hide();
        }
    </script>
</head>

<body>
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="/Student/Home/Index"><img class="main-logo" src="~/images/logo.png" alt="" /></a>
                <strong><a href="/Student/Home/Index"><img src="~/images/logo.png" alt="" /></a></strong>
            </div>
            @{
                Html.RenderPartial("_StudentideMenu");
            }
        </nav>
    </div>
 
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="/Student/Home/Index"><img class="main-logo" src="~/images/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        @{
            Html.RenderPartial("_StudentMenuView");
        }  
        <!-- Advanced Form Start -->
        @RenderBody()
        <!-- Advanced Form End-->
        @{
            Html.RenderPartial("_StudentFooter");
        }


    </div>
    @{
        Html.RenderPartial("_StudentfooterScript");
    }
    
   
</body>

</html>